<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1 - 17</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <p>Quel langage préférez-vous?</p>
        <input type="radio" v-model="lang" value="HTML">
        <label>Html</label>
        <input type="radio" v-model="lang" value="CSS">
        <label>Css</label>
        <input type="radio" v-model="lang" value="JAVASCRIPT">
        <label>JavaScript</label>

        <p>{{lang}}</p>
    </div>
        
    <script>
        app = Vue.createApp({
            data() { 
                return {
                    lang: ''
                }
            },
            methods: {
                recopie() {
                    this.texte2 = this.texte1.toUpperCase()
                }
            }
        })
        let vm = app.mount('#app')

    </script>
</body>
</html>